html{
  height: 100%;
}
header{
  height: 100%;
  border-bottom: 3px solid silver;
}
body{
  height: 100%;
  background: rgba(179, 181, 177, 0.62);
}
.view{
height: 100%;
}
#pop{
  color:rgba(162, 32, 164, 0.91);
}
#form1{
  overflow: auto;
}
