$main: rgb(161, 191, 198);
$nomain: rgb(20, 204, 50);

body{
    min-width: 100%;
    background-image:  url(https://images.wallpaperscraft.ru/image/paporotnik_listia_rastenie_141731_1920x1080.jpg) ;
}
.phone{
    float: right;
    margin-left: 2px;
    font-size: 20px;
    color: rgb(255, 255, 255);
}
.fa-phone-square{
    margin-right: 5px;
    color: rgb(255, 255, 255);
}
header{
    height: 20%;
    min-width: 100%;
}
main{
    min-width: 100%;
    margin-top: 3%;
    height: 60%;
}
footer{
    min-width: 100%;
    height: 20%;
}
.zag{
    text-align: center;
    font-style: oblique;
    word-spacing: 3px;
    letter-spacing: 0.5px;
    font-size: 20px;
    color: rgb(255, 255, 255);
}
.main-form{

    background-color: white;
    height: 450px;
    border-radius: 8px;
    position:relative;
    padding-bottom:50px;
}
.main_form_text{
    font-style:sans-serif;
    margin-top:45px;
    margin-bottom: 15px;
    font-size: 23px;

}
.question, .hide, #control {
            display: none;
        }
     input.ok + label:after{
	content: '\2714';
    color: green;
    font-size: 23px;

}
     input.no + label:after{
	content: '\2715';
    color: red;
    font-size: 23px;

}
    .show, #control.show {
      display: block;
    }
    #start.show .question{
       display: block;
    }
    .accept{
        font-size: 20px;
        margin-top: 200px;
        height: 50px;
        width: 100px;
        border-radius: 20px;
        background-color: rgb(112, 50, 111);
        color: rgb(255, 255, 255);
        font-style:sans-serif;
    }
    .accept_end{
        height: 50px;
        width: 300px;
        border-radius: 20px;
        background-color: rgb(112, 50, 111);
        color: rgb(255, 255, 255);
        font-style:sans-serif;
        margin-top: 115px;
    }
    .form-control{
        width: 350px;
        margin-top: 3px;
    }
    #start, #control{
        float: left;
        margin-top: 3%;
    }
    p{
        margin-bottom: 2px;
        font-size:10px;
    }
    footer{
        margin-top: 200px;
        background: rgb(93, 72, 90);
    }
    .left_nav{
        float: left;
    }
    img{
        margin-top: 10%;
    }
    // .quest{
    //     margin-top:45px;
    //     margin-bottom: 15px;
    //     font-size: 23px;
    // }
    .cont{
        text-align: center;
    }
@media only screen
and (min-device-width : 320px)
and (max-device-width : 568px){
    header{
        width: 100%;
        // background-color: rgb(47, 183, 196);
        text-align: center;
        height: 20%;
    }
    body{
        width: 100%;
    }

    .viol{
        display: none;
    }
    .navbar-brand{
        align:center;
        width: 100%;
    }
    .content{
        width: 100%
    }
    footer{
        width: 100%;
        text-align: center;
    }
    .right-item{
        width: 100%;
        margin-left: auto;
    margin-right: auto;
        align: center;
        float: none;
    }
    .navbar-nav{
        margin-left: auto;
        margin-right: auto;
    }
    span{
        margin-left: auto;
        margin-right: auto;
    }
    .right_nav{
        margin-left: auto;
        margin-right: auto;
        width: 100%;
    }
    .cont
    {
        margin-left: auto;
        margin-right: auto;

    }
    .mrk{
        width: 100%;
    }
    .free{
        font-size: 15px;
    }
    .marka{
        margin-top: 0;
    }
    .form-control{
        width: 230px;
        margin-top: 3px;
    }
    .accept{
        font-size: 20px;
        margin-top: 200px;
        height: 50px;
        width: 100px;
        border-radius: 20px;
        background-color: rgb(112, 50, 111);
        color: rgb(255, 255, 255);
        font-style:sans-serif;
    }
    .accept_end{
        height: 50px;
        width: 200px;
        border-radius: 20px;
        background-color: rgb(112, 50, 111);
        color: rgb(255, 255, 255);
        font-style:sans-serif;
        margin-top: 90px;
    }
    .cont{
        text-align: center;
    }

}
@media only screen
and (min-device-width : 569px)
and (max-device-width : 992px){
    header{
        width: 100%;
        text-align: center;
        height: 20%;
    }
    body{
        height: 100%;
    }
    .viol{
        display: none;
    }
    .navbar-brand{
        align:center;
        width: 100%;
    }
    .content{
        width: 100%
    }
    .cont{
        text-align: center;
    }
    footer{
        width: 100%;
        text-align: center;
    }
    .right-item{
        width: 100%;
        margin-left: auto;
    margin-right: auto;
        align: center;
        float: none;
    }
    .navbar-nav{
        margin-left: auto;
        margin-right: auto;
    }
    span{
        margin-left: auto;
        margin-right: auto;
    }
    .right_nav{
        margin-left: auto;
        margin-right: auto;
        width: 100%;
    }
    .cont
    {
        margin-left: auto;
        margin-right: auto;

    }
    .mrk{
        width: 100%;
    }
    .free{
        font-size: 15px;
    }
    .marka{
        margin-top: 0;
    }
}
